.cart { 
    max-width: 65rem;
    margin:5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap:1.5rem;
}

.details {
    height: 160px;
}
.img {
    width: 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}