.btn {
    padding: .75rem 1rem;
    text-align: center;
    background-color: #0c50b6;
    color: #dadada;
    cursor: pointer;
    font-weight: 800;
    border: 2px solid #dadada;
    border-radius: 1.5rem;
}
.btn:hover {
    box-shadow: 5px 5px 10px #555;
}
.secondary {
    border-color: #0c50b6;
    background-color: #dadada;
    color: #0c50b6;
}
.red {
    background-color: #cf302a;
    border: 2px solid #dadada;
    color: #dadada;
}